@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url("../src/assets/freepik-export-20240515192829u9cf.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}